body {
    margin: 0;
    padding: 0;
}

main, section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section {
    margin: 1rem;
    width: 70% ;
    background-color: lightpink;
    border: 5px solid darkred;
}

.titreRose{
    background-color: deeppink;
}