body {
    margin: 0;
    padding: 0;
}

body, main, section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: row;
}

ul {
    margin : 0 ;
}

section {
    margin: 1rem;
    width: 70dvw ;
    background-color: lightpink;
    border: 5px solid darkred;
}

.titreRose{
    background-color: deeppink;
}