body {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
}

body, main, section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1{
font-family: 'Maitree', serif;
}

ul {
    margin : 0 ;
}

section {
    margin: 1rem;
    width: 70dvw ;
    background-color: lightpink;
    border: 5px solid darkred;
}

.titreRose{
    background-color: deeppink;
}

/* //css de la nav à bouger */
nav{
    font-family: 'Rasa', serif;
    display: flex;
    flex-direction: row;
}

nav a{
    margin: 1rem;
    padding: 1rem;
    border : 2px solid brown;
    border-radius: 5px;
    font-size: 2rem;
    text-decoration: none;
    background-color: lightpink;
}